<div class="row">
  <div class="col-md-12">
    <h1>Create Game</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <div class="input-group-btn">
        <button type="button" class="btn btn-primary  dropdown-toggle" data-toggle="dropdown">Game <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>Action</li>
        </ul>
      </div>
    </div>

    <form class="form-group" role="form">
      <input type="date" class="form-control">
    </form>

      <input type="text" name="model[published_on]" id="article_published_on">

    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="time" class="form-control">
        <input type="time" class="form-control">
      </div>
    </form>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Email notification?
      </label>
    </div>

    <form class="form-group" role="form">
      <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Description of event"></textarea>
      </div>
    </form>

    <div>
      <button type="button" class="btn btn-primary btn-lg">Create Event</button>
    </div>

  </div>

  <div class="col-md-6">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Friends</h3>
      </div>
      <div class="panel-body">
        Select friends here
      </div>
    </div>

  </div>
</div>


