<div row>
  <div class="col-md-12">
    <h1>Hello (username here)</h1>
  </div>
</div>


<div row>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Todays Events</h2>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-5">
      <img class="calandar" src="http://www.freegreatimages.com/wp-content/uploads/2014/04/calendar_template_by_sinatarayne-d3604mz.jpg">
      </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Friends List</h2>
      </div>
      <div class="panel-body friends_list">
        <img class="friendslist" src="http://static.giantbomb.com/uploads/original/3/32253/1857636-r3253.jpg">
      </div>
    </div>
  </div>
</div>