/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require bootstrap-timepicker.min
 *= require_self
 *= require_tree .
 */


// rgba(255,0,0,1)
// rgba(232,232,232,1)

html,
body {
  font-family: "arial", sans-serif;
  height: 100%;
  // background-color: rgba(32,32,32,1);
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #303030 56%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(56%,#303030)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4c4c4c 0%,#303030 56%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4c4c4c 0%,#303030 56%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4c4c4c 0%,#303030 56%); /* IE10+ */
  background: linear-gradient(to bottom, #4c4c4c 0%,#303030 56%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#303030',GradientType=0 ); /* IE6-9 */

  h1{
    color: rgba(232,232,232,1);
  }

}

.input-group{
  margin-bottom: 15px;
}

.panel{
  border: 1px solid rgba(0,0,1,1);
}

.panel-heading{
  background-image: url('/assets/globalheader_bg.jpg');

}

.panel-body{
  height: 400px;
  padding: 5px;
  padding-left: 10px;
  overflow: auto;
  background-color: rgba(218,217,199,1);
}

.calandar{
  width: 100%;
  height: 100%;
}

.friendslist {
  /*width: 100%;*/
  /*height: 100%;*/
}

header{
  font-family: "Tahoma" ,Arial,sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgba(232,232,232,1);


  .navbar-inverse{
    margin-bottom: 60px;
    background-image: url('/assets/globalheader_bg.jpg');
  }


  .navbar-inverse .navbar-brand{
    color: rgba(232,232,232,1);
    font-size: 40px;
    position: center;
    margin: 15px;
  }

  .pull-right{
    font-size: 35px;
    line-height: 70px;
  }
    img{
      // margin: 13px;
    }

    .img-thumbnail{
      margin: 5px;
      padding:2px;
      background-color: rgba(92,100,229,1);
      border: 2px solid rgba(92,100,229,1);
    }
}

footer{
  font-family: "Arial",sans-serif;
  font-size: 16px;
  color: rgba(232,232,232,1);
  height: 60px;

    .navbar-inverse {
      // background-image: url('/assets/globalheader_bg.jpg');
      background-color: rgba(0,0,0,1);
    }

    .pull-left{
      line-height: 54px;
    }

     a{
        color: rgba(232,232,232,1);
     }

  .steam_logo {
  }

   img{
    margin: 10px;
   }
}


/* Friends List*/

#friends-list{
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  ul{
    list-style-type: none;

  }
    li{
      // font-size: 20px;
      // border: 10px;
    }


  .panel-body{
    background-color: rgba(92,100,229,1);
  }


}



/*calendar*/

#events .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 16px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 75px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#month{
  background-image: url('/assets/globalheader_bg.jpg');
}

#events #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  color: rgba(232,232,232,1);
  border: 1px solid rgba(0,0,1,1);
  a {
    text-decoration: none;
    padding: 0 10px;
    color: rgba(232,232,232,1);
  }
}

//Event page//

#events ul {
  font-size: 11px;
  padding-left: 20px;
}

.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 150px;
  width: 6.5em;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
  outline: none;
  z-index: 10001;
  margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 11em;
}

.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ui-timepicker-duration {
  margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888;
}

.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2;
}